In [1]:
import warnings
import time
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
warnings.filterwarnings('ignore')

In [32]:
Order=pd.read_csv('Orders.csv')

In [33]:
Order.head()

,Row.ID,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,...,Product.ID,Category,Sub.Category,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority
0,40098,CA-2014-AB10015140-41954,11/11/14,11/13/14,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,2/5/14,2/7/14,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,-$288.77,923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/14,10/18/14,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/14,1/30/14,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,-$96.54,910.16,Medium
4,47221,SG-2014-RH9495111-41948,11/5/14,11/6/14,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [34]:
Order['Profit'], Order['Sales']

(0          $62.15
 1        -$288.77
 2         $919.97
 3         -$96.54
 4         $311.52
            ...
 51285       $4.50
 51286       $3.34
 51287       $2.48
 51288       $2.40
 51289       $1.80
 Name: Profit, Length: 51290, dtype: object,
 0          $221.98
 1        $3,709.40
 2        $5,175.17
 3        $2,892.51
 4        $2,832.96
            ...
 51285       $65.10
 51286       $16.72
 51287        $8.56
 51288       $13.44
 51289       $61.38
 Name: Sales, Length: 51290, dtype: object)

In [44]:
Order['Profit']=Order['Profit'].str.replace('$','')
Order['Profit']=Order['Profit'].str.replace(',','')
Order['Profit']=pd.to_numeric(Order['Profit'],errors='ignore')

In [45]:
Order['Profit']

0         62.15
1       -288.77
2        919.97
3        -96.54
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: float64

In [46]:
Order['Sales']=Order['Sales'].str.replace('$','')
Order['Sales']=Order['Sales'].str.replace(',','')
Order['Sales']=pd.to_numeric(Order['Sales'],errors='ignore')

In [47]:
Order['Sales']

0         221.98
1        3709.40
2        5175.17
3        2892.51
4        2832.96
          ...
51285      65.10
51286      16.72
51287       8.56
51288      13.44
51289      61.38
Name: Sales, Length: 51290, dtype: float64